.playListItems{
    display: flex;
    border-bottom: 1px solid #E9F7F4;
    padding-bottom: 26px;
    padding-top: 25px;
}
.name{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 11.2px;
    line-height: 13px;
    letter-spacing: 0.186667px;
    color: #7FB0A9;
}
.title{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    margin-top: 3px;
    color: #04362F;
}
.description{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-top: 7px;
    color: #89D8CB;
}
.imgPlayList{
    width: 89px;
    height: 89px;
    margin-right: 14px;
    margin-top: 5px;
    position: relative;
}
.playButton{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 15px;
    width: 15px;
}
.likebar{
    display: flex;
    flex-flow: row;
    margin-top: 21px;
    
}
.likesContainer{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
/* identical to box height */
    color: #7FB0A9;
    margin-right: 38px;
    align-self: center;
}  
.likesContainer img{
    margin-right: 7px;
} 